@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,701;1,701&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 13px;
    line-height: 24px;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
/* nav hamberger */
#menustate {
    display: none;
  }
  
  label {
    /* Basic styling of hamburger button */
    display: grid;
    place-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    background: #ccf;
    margin: 0.8rem;
  }
  
  nav ul,
  nav .close {
    /* Hide the menu and close button */
    display: none;
  }
  
  #menustate:checked ~ nav :is(ul, .close) {
    /* Show the menu and close button */
    display: block;
  }
  
  #menustate:checked ~ nav .open {
    /* Hide the open button */
    display: none;
  }
  

/* end */

h1 a{ 
    text-decoration: none;
    margin: 50px;
    color: black;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

.cart img{
    width: 20px;
    margin-right: 1rem;
    height: auto;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:1rem  ;
    width: 100%;

}
.card img{
    width: 100%;
    object-fit: cover;
    height: 247px;
}
.card h2{
    font-weight: 350;
    margin: 8px 0;
    font-size: 16.9px;
    color: #202020;
}
.card button{
    padding: 8px 44px;
}

.t-shirt-container{
    display: flex;
    width: 100%;
}


button{
    margin: 1rem 1rem 2rem 1rem;
    border: 2px solid black;
    padding: 8px 3rem ;
    background-color: white;
}
.t-shirt-container button{
    padding: 0.5rem 1.5rem;
}
button:hover{
    color: white;
    background-color: black;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 13px;
}
footer button
{
    color: white;
    background-color: black;
    margin: 10px 0 0 0;
    padding: 0.3rem 1.5rem;
}
footer p{
    font-weight: 100;
    color:#757575;
}
footer button:hover{
    color: black;
    background-color: white;
}
